---

- name: Ensure install archives directory exists
  ansible.builtin.file:
    dest: "{{ install_archives }}"
    mode: '0755'
    state: directory

- name: Download kvrocks package
  ansible.builtin.get_url:
    url: "{{ kvrocks_pkg_url }}"
    checksum: "{{ kvrocks_pkg_hash | default(omit) }}"
    dest: "{{ install_archives }}"
    mode: '0644'

- name: RedHat | Install kvrocks package
  ansible.builtin.package:
    name: "{{ install_archives }}/{{ kvrocks_pkg_url | basename }}"
    state: present
    disable_gpg_check: "{{ kvrocks_disable_gpg_check | default(omit) }}"
  when: ansible_os_family == "RedHat"

- name: Debian
  when: ansible_os_family == "Debian"
  block:
    - name: Debian | Update cache
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: "{{ kvrocks_apt_cache_valid_time | default('3600') }}"

    - name: Debian | Install kvrocks dependencies package
      ansible.builtin.package:
        name: libsnappy-dev
        state: present

    - name: Debian | Install kvrocks package
      ansible.builtin.package:
        deb: "{{ install_archives }}/{{ kvrocks_pkg_url | basename }}"
        state: present
