---
# tasks file for juju4.kvrocks

- name: Include variables
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_version'] }}.yml"
        - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
        - "{{ ansible_facts['distribution'] }}.yml"
        - "{{ ansible_facts['os_family'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
        - "{{ ansible_facts['os_family'] }}.yml"
      paths:
        - 'vars'

- name: Debian | Set fact
  ansible.builtin.set_fact:
    kvrocks_pkg_url: "{{ kvrocks_deb }}"
    kvrocks_pkg_hash: "{{ kvrocks_deb_hash | default(omit) }}"
  when:
    - ansible_facts['os_family'] == 'Debian'

- name: RedHat | Set fact
  ansible.builtin.set_fact:
    kvrocks_pkg_url: "{{ kvrocks_rpm }}"
    kvrocks_pkg_hash: "{{ kvrocks_rpm_hash | default(omit) }}"
  when:
    - ansible_facts['os_family'] == 'RedHat'

- name: Import kvrocks
  ansible.builtin.import_tasks: kvrocks.yml

- name: Import systemd
  ansible.builtin.import_tasks: systemd.yml
  when: >
    not (ansible_facts['virtualization_type'] is defined and
          (ansible_facts['virtualization_type'] == "docker" or ansible_facts['virtualization_type'] == "containerd")
    )
