---
# tasks file for juju4.kvrocks

- name: Include variables
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml"
        - "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"
        - '{{ ansible_distribution }}.yml'
        - "{{ ansible_os_family }}-{{ ansible_distribution_major_version }}.yml"
        - '{{ ansible_os_family }}.yml'
      paths:
        - 'vars'

- name: Debian | Set fact
  ansible.builtin.set_fact:
    kvrocks_pkg_url: "{{ kvrocks_deb }}"
    kvrocks_pkg_hash: "{{ kvrocks_deb_hash | default(omit) }}"
  when:
    - ansible_os_family == 'Debian'

- name: RedHat | Set fact
  ansible.builtin.set_fact:
    kvrocks_pkg_url: "{{ kvrocks_rpm }}"
    kvrocks_pkg_hash: "{{ kvrocks_rpm_hash | default(omit) }}"
  when:
    - ansible_os_family == 'RedHat'

- name: Import kvrocks
  ansible.builtin.import_tasks: kvrocks.yml

- name: Import systemd
  ansible.builtin.import_tasks: systemd.yml
  when: >
    not (ansible_virtualization_type is defined and
          (ansible_virtualization_type == "docker" or ansible_virtualization_type == "containerd")
    )
