---
# handlers file for juju4.kvrocks

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes
  when: >
    not (ansible_facts['virtualization_type'] is defined and (ansible_facts['virtualization_type'] == "docker"))

- name: Restart kvrocks
  ansible.builtin.systemd:
    name: kvrocks
    state: restarted
  when: >
    not (ansible_facts['virtualization_type'] is defined and (ansible_facts['virtualization_type'] == "docker"))
